.intro-02-bg{background-image:url('http://placehold.it/1500x1000.jpg');}
.intro-04-bg{background-image:url('http://placehold.it/1500x1000.jpg');}
.intro09-01{background-image:url('http://placehold.it/1500x1000.jpg');}
.intro09-02{background-image:url('http://placehold.it/1500x1000.jpg');}
.intro09-03{background-image:url('http://placehold.it/1500x1000.jpg');}
.intro-02-bg{background-image:url('http://placehold.it/1500x1000.jpg');}
/*.intro11-bg{background-image:url('../images/bururet.jpg');}*/
.about-bg{background-image:url('http://placehold.it/1500x1000.jpg');}
.works-bg{background-image:url('http://placehold.it/1500x1000.jpg');}
.contact-bg{background-image:url('../images/bururet2.jpg');}
.showcase-01{background-image:url('http://placehold.it/1500x1000.jpg');}
.showcase-02{background-image:url('http://placehold.it/1500x1000.jpg');}
.showcase-03{background-image:url('http://placehold.it/1500x1000.jpg');}
.showcase-04{background-image:url('http://placehold.it/1500x1000.jpg');}
.showcase-05{background-image:url('http://placehold.it/1500x1000.jpg');}
.lookbook-01{background-image:url('http://placehold.it/1500x1000.jpg');}
.lookbook-02{background-image:url('http://placehold.it/1500x1000.jpg');}
.lookbook-03{background-image:url('http://placehold.it/1500x1000.jpg');}
.lookbook-04{background-image:url('http://placehold.it/1500x1000.jpg');}
.lookbook-05{background-image:url('http://placehold.it/1500x1000.jpg');}
.lookbook-06{background-image:url('http://placehold.it/1500x1000.jpg');}
.photography-01{background-image:url('http://placehold.it/1500x1000.jpg');}
.photography-02{background-image:url('http://placehold.it/1500x1000.jpg');}
.photography-03{background-image:url('http://placehold.it/1500x1000.jpg');}
.photography-04{background-image:url('http://placehold.it/1500x1000.jpg');}
.photography-05{background-image:url('http://placehold.it/1500x1000.jpg');}
.project-01{background-image:url('http://placehold.it/1500x1000.jpg');}
.project-02{background-image:url('http://placehold.it/1500x1000.jpg');}
.project-03{background-image:url('http://placehold.it/1500x1000.jpg');}
.menu-collapser{background-image:url('../images/logo.png');}
