html, body {
  text-align: center;
  font-family: "Lora";
}
article{
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 15%;
  font-size: 1.5em;
}
#bururet {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail img {
  height:300px;
  width:100%;
}

h1{
  padding-top: 5%;
  font-size: 3em;
}
figcaption{
  color: #000;
  font-size: 1em;
}

#email{
  margin-bottom: 10%;
}
.contact{
  padding-top: 30%;
}
.row{
  padding-bottom: 5%;
}
.thumbnail .lights{
  height: 500px;
}
#SafetCat{
  border-radius: 50%;
}
